<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <title>Home</title>
</head>
<body>
    <div class="container-fluid text-center">
        <div>
            <form th:action="@{/logout}" method="post">
                <p>
                    Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
                    <span sec:authentication="principal.authorities">Roles</span>
                </p>
                <input type="submit" value="Sign Out">
            </form>
        </div>
        <h1>Dashboard</h1>
        <button class="btn"><a th:href="@{/products}">Product</a></button>
        <button class="btn"><a th:href="@{/category}">Category</a></button>
        <button class="btn"><a th:href="@{/users}" sec:authorize="hasAnyAuthority('Admin')">User Management</a></button>
        
    </div>
</body>
</html>